# AutoAudit local development environment variables 
# For local dev, create a `.env` file (gitignored) 
#
# Usage:
#   cp env.example .env

# Google SSO
GOOGLE_OAUTH_CLIENT_ID= 237734019606-8lft9r71d02ljcegsq4d6huglh8ke151.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET= 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



