@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tokens.css";
@import "./components.css";

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    margin: 0;
    background: rgb(var(--color-surface-1));
    color: rgb(var(--color-text-strong));
    font-family: var(--font-body);
  }

  * {
    box-sizing: border-box;
  }
}