/* Sidebar Styles */

/* Sidebar background element */
.sidebar {
  position: fixed;
  transition: width 0.4s ease;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width, 0px); 
  background-color: #485a8c;
  overflow-x: hidden;
  overflow-y: hidden; 
  z-index: 1000;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

/* Content within the sidebar frame */
.sidebar-content {
  padding: 60px 20px 20px 20px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

/* Logo styling */
.logo {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #34495e;
  padding-bottom: 20px;
}

/* Navigation links container */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;
}

/* Navigation settings container */
.nav-settings {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid #34495e;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Individual navigation items */
.nav-item {
  margin-bottom: 5px;
  border-radius: 3%;
  background-color: #374f91;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Nav option list styling */
.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
}

/* Toggle button */
.toggle-button {
  position: fixed;
  transition: left 0.4s ease;
  transition: transform 0.2s ease;
  top: 20px;
  left: 20px;
  z-index: 1001;
  background-color: #485a8c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Change the size and colour of the buttons on hover */
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05); 
}

.toggle-button:hover {
  background-color: #3d4f7a;
  transform: scale(1.05); 
}